In [5]:
import pathlib
from datetime import datetime
import json
import pandas as pd

SAMPLE_WEEKLY_OUTPUT = 'sample_weekly_output.json'

In [3]:

with open(pathlib.Path(SAMPLE_WEEKLY_OUTPUT), 'r') as f:
    sample_weekly_output = json.load(f)

,breakfast.date,breakfast.restaurant,breakfast.refreshTime,breakfast.schedule.breakfast.start,breakfast.schedule.breakfast.end,breakfast.schedule.lunch.start,breakfast.schedule.lunch.end,breakfast.schedule.dinner.start,breakfast.schedule.dinner.end,breakfast.currentMeal,...,dinner.schedule.lunch.end,dinner.schedule.dinner.start,dinner.schedule.dinner.end,dinner.currentMeal,dinner.price.breakfast,dinner.price.lunch,dinner.price.brunch,dinner.price.dinner,dinner.themed,dinner.all
0,11/20/2024,Anteatery,1732065184,715,1100,1100,1630,1630,2300,breakfast,...,1630,1630,2300,dinner,14.75,15.75,15.75,15.75,[],"[{'station': 'Sizzle Grill', 'menu': [{'catego..."